* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: Inter, sans-serif;
  background-color: #0b0b0b;
  color: white;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 24px 48px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}

.contact-btn {
  background: #ff5c35;
  padding: 10px 20px;
  border-radius: 999px;
  color: black;
  font-weight: 600;
}

.hero {
  height: 100vh;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:
  linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 60px 60px;
}

.hero-subtitle{ 
  color: #ff5c35;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-size: 40px;
}

.hero-title{
  font-size: clamp(4rem, 10vw, 12rem);
  font-weight: 800;
  line-height: 0.9;
  width: max-content;
}

.hero-desc{
  margin-top: 24px;
  max-width: 400px;
  opacity: 0.7;
  font-size: 23px;
  white-space: nowrap;
}

.scroll-indicator{
  position: absolute;
  bottom: 40px;
  left: 53%;
  transform: translateX(-50%);
  opacity: 0.6;
}

.marquee{
  overflow: hidden;
  white-space: nowrap;;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.marquee-track{
  display: inline-flex;
  gap: 40px;
  padding-right: 60px;
  animation: scroll 30s linear infinite;
  width: max-content;
}

.marquee-span {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.4;
}

@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}

.custom-cursor{
  position: fixed;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 999;
}
